<footer>
  <div class="footer-inner">
    <span>
      © 2026 ElectroShop · Not an internet-shop website 
    </span>
    <%= link_to "Contacts", contacts_path, class: "nav-link" %>
      
  </div>
</footer>