<header>
  <div class="top-bar">
    <div class="logo">ElectroShop</div>
    <div class="search">
      <input type="text" placeholder="Search products" />
    </div>
    <div class="actions">Login</div>
  </div>
</header>

<nav>
  <ul>
    <li>Catalog</li>
    <li>Laptops</li>
    <li>Smartphones</li>
    <li>TVs</li>
    <li>Appliances</li>
    <li>Sales</li>
  </ul>
</nav>