<% content_for(:page_styles) { %>
  <%= stylesheet_link_tag "pages/contacts", "data-turbo-track": "reload" %>
<% } %>

<main>
  <section class="contacts-section">
    <h1>Контакты</h1>

    <div>
      <h3>📧 Электронная почта</h3>
      <p>support@electroshop.com</p>
    </div>

    <div>
      <h3>📞 Телефон</h3>
      <p>+00000000</p>
    </div>

    <div>
      <h3>📍 Расположение</h3>
      <p>moon</p>
    </div>
  </section>
</main>



