<% content_for(:page_styles) { %>
  <%= stylesheet_link_tag "pages/admin", "data-turbo-track": "reload" %>
<% } %>

<%= render "shared/admin_nav" %>

<main>
  <section class="admin-header">
    <h1>Добавить новый товар</h1>
  </section>

  <%= render "form" %>
</main>
